.justify-content-between{
    justify-content: space-between;
}
.d-flex{
    display: flex;
}
.d-flex-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.border-bottom{
    border-bottom: 1px solid white;
}