body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    display: flex;
}
ul{
    list-style: none;
    padding: 0px;
}
/* =======================HEADER=================== */
#header{
    background-color: #3d3030;
    color: white;
}
a{
    text-decoration: none;
}
nav{
    flex: 100%;
    border-right: 10px solid red;
}
span{
    padding-top: 22px;
}
ul#main-menu li a{
    color: white;
    display: block;
    padding: 5px 50px;
    text-decoration: none;
}
ul#main-menu li:hover a{
    background-color: grey;
    box-shadow: 10px 10px 8px white;
}
/* =====================CONTENT================ */
img[src="assets/images/nhahangvabar.jpg"]{
    max-width: 100%;
    height: 450px;
}
.title{
    padding-top: 10px;
    padding-left: 5px;
}
h2{
    display: block;
    text-align: center;
    padding: 20px;
}
.featured-box{
    width: 390px;
    height: 345px;
    border: 1px solid whitesmoke;
    padding: 14px;
    margin: 30px 50px;
    position: relative;
    overflow: hidden;
}
b, 
p{
    padding: 5px;
}
.see-now{
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: -42px;
    transition: all 0.5s;
}
.featured-box:hover .see-now{
    text-decoration: none;
    background-color: #3d3030;
    color: white;
    bottom: 0px;
}

/* ===================FOOTER================ */
#footer{
    background-color: #3d3030;
    padding-top: 10px;
    padding: 40px;
    color: white;
}
h3{
    padding-left: 40px;
}
#footer .box.logo-footer{
    flex: 280px;
    padding-right: 15px;
}
#footer .box.about-us{
    flex: 600px;
    padding-left: 15px;
    padding-right: 140px;
}
#footer .about-us a{
    color: blue;
    text-decoration: underline;
}
#footer.box.follow-us{
    flex: 180px;
    padding-left: 15px;
}
ul.list-social li{
    margin-top: 15px;
    margin-left: 15px;
}
ul.list-social li:first-child{
    margin-left: 0px;
}
ul.list-social li a{
    background-color: grey;
    padding: 6px 12px;
    color: white;
}
ul.list-social li:hover a{
    color: blue;
}
/* =================COPY RIGHT============== */
#wp-copyright{
    background-color: black;
    color: white;
    padding-top: 10px;
}
#wp-copyright .copyright{
    margin-bottom: 0px;
    font-size: 14px;
}
ul#footer-menu li a{
    font-size: 14px;
    color: whitesmoke;
    padding: 0px 10px;
    display: block;
    margin-bottom: 0px;
}
ul#footer-menu li:hover a{
    color: blue;
}